:root {
  --ast-global-color-0: #e50046;
  --ast-global-color-1: #c3003c;
  --ast-global-color-2: #00bec9;
  --ast-global-color-3: #00a2ab;
  --ast-global-color-4: #68737b;
  --ast-global-color-5: #ffffff;
  --ast-global-color-6: #dfdfef;
  --ast-global-color-7: #fdc333;
  --ast-global-color-8: #fdc333;
}
 
.card-text{
    color: #121313;
    text-align: justify;
    font-size: 18px;
}
.bo{
    position: relative;
     left: 250px;
     height: 500px;
     width: 450px;
 }
/*.bo{
   position: relative;
    left: 200px;
    height: 500px;
    width: 450px;
}
 .card{
    height: 280px;
    width: 400px;
     

 }
 .card-title{
    color: antiquewhite;
    text-align: center;
    font-size: 28px;
    font-size: italic;
    height:60px ;
}
 
 .card-img-top{
    height: 270px;
    width: 400px;

 }
.card-title{
    color: antiquewhite;
    text-align: center;
    font-size: 25px;
    font-size: italic;
}
.titulo{
    
    position:relative;
    vertical-align: bottom;
    color: antiquewhite;
    text-align: center; 
}
.titulo1{
    
    position:relative;
    vertical-align: bottom;
    color: #c3003c;
    text-align: center; 
}
.card-body1{
    background-color: #c3003c;
    width: 400px;
}
.card-body2{
    background-color: #00bec9;
    width: 400px;
}
.card-body3{
    background-color: #00bec9;
    width: 400px;
}
.card-body4{
    background-color: #dda712;
    width: 400px;
}
.letra{
    color: antiquewhite;
    text-align: center;
    font-size: 15px;
     
    
}
 
 */